<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST for SF</title>

    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"  type="text/css" href="/public/css/style.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <!-- <h2>Test: SF outbound message format</h2>         -->
    </div>

    
    <%- include ('./partial/sideSection') -%>
    
    <%- include ('./partial/resultSection', {data: data}) -%>
  
</div>

<style>


</style>

</body>
</html>