<div class="sideSection">
    <label class="resultLabel">POST ENDPOINT DEFINITION:</label>

    <pre >     
    app.post('/sf-trgr', xmlparser(), (req, res, next) => {
        let processMsg = parseXml.utils.parse(req.body);
        res.set('Content-Type', 'text/html');
        res.render('index', { data: JSON.stringify( processMsg ) });
    });
    </pre>    
</div>




